@inherits LayoutComponentBase

<PageTitle>NvLibrary</PageTitle>

<div style="min-height: 100vh; display: flex; flex-direction: column;">
    <header>
        <Header/>
    </header>
    <main class="main pt-5" style="flex: 1;">
        @Body
    </main>
    <footer class="footer mt-auto py-3 bg-dark text-white">
        <Footer/>
    </footer>
</div>